# Dependencias Node
node_modules/

# Builds de Electron
dist/
out/
release/
build/

# Entorno virtual Python
.venv/
venv/

# Archivos temporales
.DS_Store
*.log

# Cache
__pycache__/
*.pyc

# Configuracion local de VSCode
.vscode/

# Carpetas de electron-builder
app/node_modules/
python/

package-lock.json
*.zip
